<!-- =========================
     NAVIGATION
========================== -->

<nav class="navbar">

    <a href="#" class="logo-link" aria-label="Ditte forside">

        <img
            src="../images/logo.svg"
            alt="Ditte"
            class="logo"
        >

    </a>


    <div class="nav-links">

        <a
            href="#"
            class="nav-about"
        >
            OM MIG
        </a>


        <a
            href="#"
            class="nav-projects"
        >
            PROJEKTER
        </a>


        <a
            href="#"
            class="nav-ai"
        >
            BRUG AF AI
        </a>


        <a
            href="#contact"
            class="contact-button"
        >
            KONTAKT MIG
        </a>

    </div>

</nav>